@media (max-width: 1400px) {
  html {
    font-size: 8px;
  }
  .alpha-reports-bnner-img {
    height: 700px;
}
  .elite-img {
    height: 560px;
  }
  .trading-new-main-img {
    height: 580px;
    object-fit: cover;
  }
  .our-blog-para-area {
    position: absolute;
    right: 5vw;
    bottom: 60px;
    max-width: 460px;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 7px;
  }
  .alpha-reports-bnner-img {
    height: 600px;
}
  .our-blog-para-area {
    right: 10vw;
    bottom: 60px;
    max-width: 390px;
  }
  .trading-new-main-img {
    height: 560px;
  }
  .team-member-img {
    min-height: 350px;
  }
  .elite-img {
    height: 500px;
  }
  .top-end-area {
    gap: 10px !important;
  }
  .feature-box::before {
    border: 3px solid rgb(167, 151, 52);
  }
  .testimonial-para {
    height: 50px;
  }
  .cirlce-user-img {
    height: 35px;
    width: 35px;
}
.bookmark-btn {
  height: 30px;
  width: 30px;
}
}

@media (max-width: 991px) {
  .select2-container .select2-selection--single .select2-selection__rendered, .select2-results__option, .select2-search--dropdown .select2-search__field {
    font-size: 2rem;
}
  .select2-container {
    width: 200px !important;
}
  .alert-course-box {
    margin-bottom: 3rem;
}
  .our-blog-para-area {
    right: 3vw;
    max-width: 330px;
    bottom: 20px;
}
  .trading-new-main-img {
    height: 450px;
  }
  .flex-team-box {
    margin-bottom: 20px;
  }
  .elite-img {
    height: 400px;
    margin-bottom: 20px;
  }
  .contact-form {
    margin-bottom: 20px;
  }
  .link.dropdown-link {
    color: #000 !important;
  }
  .link.dropdown-link:hover {
    background-color: #1b1b2c;
    color: white;
  }
  .logo {
    max-width: 180px;
  }
  .ordr-md-1 {
    order: 1;
  }
  .menu-btn {
    display: flex;
  }
  .header-btn-area.text-end {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
  .head-btn {
    font-size: 2.5rem;
  }
  .header-navigation {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1b1b2c;
    z-index: 99;
    left: -100%;
    overflow-y: auto;
    padding: 0 30px;
    transition: 0.5s all ease-in-out;
  }
  .header-navigation.active {
    left: 0;
  }
  .link {
    color: white;
    font-size: 2rem;
  }
  .header-nav-li {
    margin-bottom: 20px;
  }
  .header-nav {
    display: block;
    width: 100%;
  }
  .menu-btn.menu-cls-btn {
    background: #cec65a;
    color: #1b1b2c;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    font-size: 2.6rem;
  }
  .head-dropdown-list {
    position: relative;
  }
  .head-dropdown-list {
    position: unset;
    display: none;
    background-color: #cec65a;
  }
  .head-dropdown-list.active {
    display: block;
  }
  .head-dropdown-list.show {
    opacity: unset;
    visibility: unset;
  }
  .head-dropdown-list {
    visibility: visible;
    opacity: 1;
  }
  .text-med-center {
    text-align: -webkit-center !important;
  }
  .bnner-right-img {
    margin-top: 20px;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .about-us-img {
    margin-top: 20px;
  }
  .tip-video {
    margin-top: 20px;
  }
  .feature-box {
    margin-bottom: 20px;
  }
  .testimonial-btn-area {
    justify-content: center !important;
    margin-top: 10px;
  }
  .med-justify-center {
    justify-content: center !important;
  }
  .link i {
    display: none;
  }
  .dropdown-btn {
    display: flex;
  }
  .watchlist-chart-box {
    margin-bottom: 25px;
  }
  .popular-indicator {
    margin-bottom: 30px !important;
  }
  .newsletter-link {
    bottom: 40px;
  }
}

@media (max-width: 767px) {
  .login-signup-logo {
    max-width: 170px;
}
  .our-blog-para-area {
    right: 2vw;
    max-width: 300px;
    bottom: 20px;
}
  /* .our-blog-para-area {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    width: 100%;
    bottom: -30px;
}
.our-blog-para-area .list-para {
  font-size: 2rem;
  text-align: center;
  color: black !important;
} */
  .alpha-reports-bnner-img {
    height: 500px;
}
.alpha-report-link {
  bottom: 30px;
}
  .economics-chart-text-area .sm-para {
    font-size: 1.8rem;
  }
  .economics-chart-title {
    font-size: 2.5rem;
  }
  .economic-charts-metrics-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .economics-chart-slider-btn {
    display: none !important;
  }
  .flex-trading-img {
    height: 500px;
  }
  .sniper-entries-iframe {
    height: 500px;
  }
  .top-nav-list {
    justify-content: start;
  }
  .header-navigation {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1b1b2c;
    z-index: 99;
    left: -100%;
    overflow-y: auto;
    padding: 0 30px;
    transition: 0.5s all ease-in-out;
  }
  html {
    font-size: 6px;
  }
  .social-icons-list.top-res-none {
    display: none;
  }
  .footer-logo {
    max-width: 180px;
  }
  .dropdown-toggle.trans-btn::after {
    border-top: 0.5em solid !important;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
  }
  .circle {
    font-size: 2rem;
  }
  .sec-link {
    gap: 15px;
    height: 45px;
  }
  .text-mb-center {
    text-align: -webkit-center !important;
  }
  .logo {
    max-width: 150px;
  }
  .footer-logo-area {
    margin-bottom: 20px;
  }
  .social-icons-list {
    justify-content: center;
  }
  .footer-btm-para {
    text-align: center !important;
    margin-bottom: 2px;
  }
  .footer-link {
    justify-content: center;
  }
  .footer-title {
    margin-bottom: 18px;
    text-align: center;
  }
  .footer-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-btn {
    height: 30px;
    width: 30px;
  }
  .traders-hub-slider-btn {
    display: none;
  }
}

@media (max-width: 620px) {
  .our-blog-para-area {
    right: 2vw;
    max-width: 260px;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
}
.our-blog-para-area {
  max-width: 230px;
}
}

@media (max-width: 480px) {
  html {
    font-size: 5.5px;
  }
  .our-blog-para-area {
    max-width: 50vw;
}
  .alpha-reports-bnner-img {
    height: 350px;
}
  .trading-new-main-img {
    height: 300px;
  }
  .earnings-tabel {
    min-width: 430px;
  }
  .sniper-entries-iframe {
    height: 400px;
  }
  .flex-trading-img {
    height: 400px;
  }
  .top-nav-list {
    gap: 7px;
  }

  .top-end-area {
    gap: 5px !important;
  }
  .user-img,
  .flag-img {
    height: 15px;
    width: 15px;
  }
  .top-user-img-area {
    width: 15px;
  }
  .top-link {
    font-size: 1.3rem;
  }
  .logo {
    max-width: 140px;
  }
}
