* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  top: 0 !important;
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
    width: 100%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
span {
  padding: 0;
  margin: 0;
  list-style: none;
}
.skiptranslate iframe {
  display: none !important;
}

@font-face {
  font-family: "Frutiger";
  src: url(../fonts/frutiger/FRUTIGER.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "FRUTIGER_BOLD";
  src: url(../fonts/frutiger/FRUTIGER_BOLD.TTF);
}
@font-face {
  font-family: "CHILLAX-SEMIBOLD";
  src: url(../fonts/chillax-variable/CHILLAX-SEMIBOLD.TTF);
}
@font-face {
  font-family: "CHILLAX-VARIABLE";
  src: url(../fonts/chillax-variable/CHILLAX-VARIABLE.TTF);
}

:root {
  --outfit-font: "Outfit", sans-serif;
  --lato-font: "Lato", sans-serif;
  --frutiger-font: "Frutiger";
  --chillax-semibold: "CHILLAX-SEMIBOLD";
  --chillax-variable: "CHILLAX-VARIABLE";
  --gray-color: #21545f;
  --purple: #1b1b2c;
  --mustard-yellow: #cec65a;
}

.py-5rem {
  padding: 6rem 0;
}
.pt-5rem {
  padding-top: 5rem;
}
.pb-5rem {
  padding-bottom: 5rem;
}
.py-4rem {
  padding: 4rem 0;
}
.px-7rem {
  padding-left: 7rem;
  padding-right: 7rem;
}
.text-uppercase {
  text-transform: uppercase;
}
.purple {
  color: var(--purple) !important;
}
.height-auto {
  height: auto !important;
}
.mustard-yello {
  color: var(--mustard-yellow);
}
.font-weight-900 {
  font-weight: 900;
}
.text-webkit-center {
  text-align: -webkit-center;
}

/* search popup */
.search-popup-wrap {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba( 0, 0, 0, 0.6 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  top: 0;
  left: 0;
  z-index: 444;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.search-popup-wrap.active {
  visibility: visible;
  opacity: 1;
}
.search-popup {
  max-width: 1000px;
  width: 100%;
  transform: scale(0);
  transition: 0.4s;
}
.search-popup-wrap.active .search-popup {
  transform: scale(1);
} 
button.search-cls-btn {
  background-color: var(--mustard-yellow);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
/* top area css */
.top-area {
  padding: 1rem 0;
  background-color: var(--gray-color);
}
ul.dropdown-menu.flag {
  width: max-content !important;
  /* width: 100%; */
}
.social-icons-list {
  display: flex;
  justify-content: start;
  align-items: start;
}
.social-icons-list .social-icon-area:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.social-icon-area {
  border-right: 1px solid white;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
}
.social-icon-link {
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.social-icon-link:hover {
  color: var(--mustard-yellow);
}
.top-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.top-link {
  font-size: 1.5rem;
  /* font-family: var(--frutiger-font); */
  font-family: var(--outfit-font);
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
}
.user-img,
.flag-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  object-fit: cover;
}
.top-user-img-area {
  width: 22px;
}

/* header css start */
.header {
  padding: 1rem 0;
  background-color: white;
}
.logo {
  max-width: 240px;
  width: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.link {
  font-size: 1.7rem;
  /* font-family: var(--frutiger-font); */
  font-family: var(--outfit-font);
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.link i {
  font-size: 1.3rem;
  margin-top: 3px;
}
.head-btn {
  font-size: 2rem;
  color: black;
  background-color: transparent;
  border: none;
}
.head-dropdown-list {
  position: absolute;
  top: 25px;
  background: var(--purple);
  width: max-content;
  min-width: 160px;
  border-radius: 5px;
  padding: 1.5rem 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 9999;
}
.head-dropdown-list.show {
  opacity: 1;
  visibility: visible;
}
/*.header-nav-li:hover .head-dropdown-list {*/
/*  opacity: 1;*/
/*  visibility: visible;*/
/*}*/
.link.dropdown-link {
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.head-dropdown-list li:hover {
  background-color: var(--mustard-yellow);
}
.link.dropdown-link.active {
  background-color: var(--mustard-yellow);
  color: var(--purple) !important;
}
.head-dropdown-list li:hover a {
  color: var(--purple) !important;
}
.menu-btn {
  display: none;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #cec65a;
  border-radius: 5px;
  border: none;
  background-color: var(--purple);
}
.dropdown-btn {
  height: 20px;
  width: 20px;
  display: none;
  background-color: var(--mustard-yellow);
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--purple);
  position: absolute;
  right: 0;
  top: 0;
  z-index : 99;
}

/* banner section start */
.banner-section {
  padding: 9rem 0;
  background-image: url(../images/bnner-bg-img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bnner-right-img {
  width: 100%;
}
.para {
  font-size: 2.5rem;
  color: white;
  font-family: var(--frutiger-font);
}
.sec-title {
  font-size: 6.2rem;
  font-family: var(--chillax-semibold);
  color: white;
}
.sm-para {
  font-size: 1.9rem;
  font-family: var(--lato-font);
  font-weight: 400;
  line-height: 1.3;
}
.text-gradient {
  background: #a79734;
  background: linear-gradient(
    to right,
    #a79734 0%,
    #cec65a 40%,
    #9a8b32 80%,
    #cec65a 97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-link {
  font-size: 1.9rem;
  font-family: var(--outfit-font);
  font-weight: 600;
  color: white;
  border: 2px solid #cec65a;
  border-radius: 40px;
  padding: 1.1rem 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
  height: 54px;
}
.circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about us section */
.about-us-section,
.features-section {
  background-image: url(../images/about-us-bg-img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-us-img {
  filter: drop-shadow(10px 10px 11px #0000006b);
  width: 100%;
}
.sm-title {
  font-size: 2.3rem;
  font-family: var(--chillax-variable);
  font-weight: 700;
  line-height: 1.2;
}
.sb-title {
  font-size: 4.6rem;
  font-family: var(--chillax-variable);
  /*font-family: var(--chillax-semibold);*/
  font-weight: 600;
  line-height: 1.2;
}
.results-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-count {
  background: #a79734;
  background: linear-gradient(
    to right,
    #a79734 17%,
    #cec65a 52%,
    #9a8b32 94%,
    #cec65a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-family: var(--chillax-variable);
  font-weight: 700;
}
.result-tag {
  font-size: 2rem;
  font-family: var(--lato-font);
  font-weight: 400;
  color: black;
}
.primary-btn {
  font-size: 2.4rem;
  color: #0d0d23;
  font-weight: 600;
  font-family: var(--chillax-variable);
  padding: 2rem 5rem;
  border-radius: 3rem;
  background: rgb(167, 151, 52);
  background: linear-gradient(
    90deg,
    rgba(167, 151, 52, 1) 0%,
    rgba(203, 197, 90, 1) 37%,
    rgba(167, 151, 52, 1) 75%,
    rgba(203, 197, 90, 1) 100%
  );
  display: inline-block;
}


/* tips section start */

.tips-section {
  background-image: url(../images/tips-sec-bg-img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tip-video {
  box-shadow: 0 0 50px 20px #0009;
  border: 4px solid rgb(167, 151, 52);
  object-fit: cover;
  width: 100%;
}
.tip-video-btn {
  background-color: transparent;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.opacity-60 {
  opacity: 60%;
}
.volume-btn {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

/* feature-section start */
.feature-box {
  background: var(--purple);
  padding: 8rem 2rem;
  border-radius: 8rem;
  position: relative;
  transition: 0.5s;
  z-index: 22;
}
.feature-box::before {
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 95%;
  border-radius: 8rem;
  background-color: transparent;
  border: 5px solid rgb(167, 151, 52);
  z-index: -1;
}
.feature-box:hover {
  background: rgb(147, 131, 43);
  background: linear-gradient(
    90deg,
    rgba(147, 131, 43, 1) 0%,
    rgba(206, 198, 90, 1) 50%,
    rgba(206, 198, 90, 1) 50%,
    rgba(147, 131, 43, 1) 95%,
    rgba(147, 131, 43, 1) 100%,
    rgba(206, 198, 90, 1) 100%
  );
  box-shadow: 0 0 30px 0 #00000080;
}
.feature-box:hover::before {
  border-color: transparent;
}
.feature-box:hover .feature-img {
  filter: brightness(0);
}
.feature-box:hover .feature-title {
  color: var(--purple);
  -webkit-text-fill-color: unset;
  filter: unset;
}
.feature-box:hover .sm-para {
  color: black !important;
}
.feature-img {
  margin-bottom: 3.5rem;
}
.feature-title {
  font-size: 3rem;
  font-family: var(--chillax-variable);
  font-weight: 600;
  filter: drop-shadow(0px 6px 3px black);
}

/* testimonial section start */
.testimonial-section {
  background-image: url(../images/testimonial-bg-img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.testmonial-box {
  border-radius: 5rem;
  padding: 5rem 4rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  position: relative;
  z-index: 22;
  transition: 0.5s;
}
.testmonial-box:hover {
  background: rgb(147, 131, 43);
  background: linear-gradient(
    90deg,
    rgba(147, 131, 43, 1) 0%,
    rgba(206, 198, 90, 1) 50%,
    rgba(206, 198, 90, 1) 50%,
    rgba(147, 131, 43, 1) 95%,
    rgba(147, 131, 43, 1) 100%,
    rgba(206, 198, 90, 1) 100%
  );
}
.testmonial-box:hover .testimonial-para {
  color: black !important;
  opacity: 100% !important;
}
.testmonial-box:hover .test-user-name {
  color: var(--purple) !important;
  -webkit-text-fill-color: unset;
}
.testmonial-box:hover .rating-star {
  color: var(--purple);
  text-shadow: unset;
}
.testimonial-para {
  font-size: 1.6rem;
  font-family: var(--lato-font);
  font-weight: 600;
  line-height: 1.4;
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rating-star {
  color: #cec65a;
  font-size: 2rem;
  text-shadow: 0 10px 10px #00000094;
}
.test-user-img {
  height: 66px;
  width: 66px;
  border-radius: 100%;
  object-fit: cover;
}
.test-user-name {
  font-size: 1.9rem;
  font-family: var(--chillax-variable);
  font-weight: 700;
}
.swiper {
  width: 100%;
  height: 100%;
}
.slider-btn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    color: white;
}
.testimonial-pagination {
    position: unset !important;
    font-size: 3.2rem;
    color: white;
    font-family: var(--chillax-variable);
    font-weight: 400;
    width: auto;
}
.testimonial-pagination span {
    font-size: 3.2rem;
    color: white;
    font-family: var(--chillax-variable);
    font-weight: 400;
}

/* newsletter section */

.newsletter-section {
    padding: 10rem 0;
    background-image: url(../images/about-us-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.newsletter-field-area {
  background-color: var(--purple);
  padding: 0 0.5rem;
  border-radius: 50px;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}
.submit-btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  background: rgb(167, 151, 52);
    background: linear-gradient(90deg, rgba(167, 151, 52, 1) 0%, rgba(203, 197, 90, 1) 37%, rgba(167, 151, 52, 1) 75%, rgba(203, 197, 90, 1) 100%); 
  font-size: 1.7rem;
  font-family: var(--chillax-variable);
  font-weight: 600;
  color: var(--purple);
  border: none;
}
.input-field {
  font-size: 1.7rem;
  font-family: var(--lato-font);
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 2rem 1rem 3rem;
  width: 70%;
}
.input-field::placeholder {
  font-size: 1.7rem;
  text-transform: capitalize;
}


/* footer start */

.footer {
  padding: 7rem 0 0;
  background-image: url(../images/footer-bg-img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-logo {
  max-width: 250px;
  width: 100%;
}
.footer-para {
  font-family: var(--outfit-font);
  font-weight: 400;
  font-size: 1.7rem;
  color: white;
  line-height: 1.3;
}
.footer .social-icon-link {
  font-size: 3rem;
}
.footer-title {
  font-size: 2.5rem;
  font-family: var(--outfit-font);
  font-weight: 900;
  margin-bottom: 22px;
}
.footer-link {
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.footer-link-list li {
  margin-bottom: 15px;
}
.footer-hr {
  color: white;
  opacity: 100%;
  border-width: 4px;
  margin: 5rem 0 0;
  border-color: rgb(167, 151, 52);
}
.footer-btm-para {
  font-size: 1.9rem;
  font-family: var(--outfit-font);
  font-weight: 500;
}
.footer-btm-area {
  padding: 1.4rem 0;
}

/* flex trading section */


.flex-trading-img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}
.flex-trading-img-area {
  z-index: 11;
  margin-bottom: 8px;
}
.flex-trading-img-area::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  opacity: .40;
}
.flex-trading-a {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.flex-team-box-text-area {
  background-color: #8F0000;
  padding: 2rem 2rem;
  text-align: center;
} 
.team-member-name {
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 700;
  color: white;
}
.team-member-tag {
  font-size: 1.6rem;
  font-family: var(--outfit-font);
  font-weight: 500;
  color: white;
}
.flex-team-img-area {
  position: relative;
}
.team-member-img {
  min-height: 450px;
  object-fit: cover;
}
.flex-team-img-area::before {
  position: absolute;
  content: " ";
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.flex-team-box:hover .flex-team-img-area::before {
  opacity: 0.5;
}

/* elite trading section */

.inner-page-bnner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20rem 0;
  position: relative;
  z-index: 11;
}
.elite-trading-section {
  background-image: url(../images/elite-trading-bg.webp);
  position: relative;
  z-index: 111;
}

.inner-page-bnner::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
.inner-sec-title {
  font-size: 7.5rem;
  text-transform: capitalize;
}
.sec-sb-title {
  font-size: 4rem;
  font-family: var(--chillax-variable);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
.list-para {
  font-size: 1.8rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  color: #7A7A7A;
  line-height: 1.4;
}
.list-style-disc {
  list-style: disc;
}
ul.elite-list.list-style-disc {
  padding-left: 20px;
}
.elite-list.list-style-disc li::marker {
  font-size: 1.8rem;
  color: #7A7A7A;
}
.primary-btn-2 {
  font-size: 2rem;
  padding: 1rem 3.5rem;
}
.pd-left-20px {
  padding-left: 20px;
}
.elite-trad-cate {
  margin-bottom: 7rem;
}
.elite-img {
  height: 650px;
  object-fit: cover;
  border-radius: 5px;
}

/* sniper-entries-stocks-section */

.sniper-entries-stocks-section {
  background-image: url(../images//sniper-entries-stocks-bg.webp);
}
.sniper-entries-iframe {
  width: 100%;
  height: 650px;
}
.sm-tag {
  font-size: 3rem;
  font-family: var(--outfit-font);
  font-weight: 600;
  text-transform: capitalize;
}
button.primary-btn {
  border: none;
}
.proven-record-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.proven-record-btn {
  background: black;
  color: white;
  border-radius: 5px;
}
.proven-record-btn.active {
  background: rgb(167, 151, 52);
    background: linear-gradient(90deg, rgba(167, 151, 52, 1) 0%, rgba(203, 197, 90, 1) 37%, rgba(167, 151, 52, 1) 75%, rgba(203, 197, 90, 1) 100%);
}
.proven-record-area {
  display: none;
  margin-top: 20px;
}
.proven-record-area.active {
  display: block;
}
.proven-record-iframe {
  width: 100%;
}
.have-question-section {
  background-color: black;
}
.cont-para {
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 600;
  color: white;
}

/* sniper-entries-crypto-screen */

.sniper-entries-crypto-section {
  background-image: url(../images/sniper-entries-crypto-bg.webp);
}

/* entries-commodities-futures-membership-screen */

.entries-commodities-futures-membership-section {
  background-image: url(../images/entries-commodities-futures-membership-bg.webp);
} 

/* sniper-entries-forex-membership-screen */

.sniper-entries-forex-membership-section {
  background-image: url(../images//sniper-entries-stocks-bg.webp);
}

/* traders-hub screen */
.traders-hub-slider-btn {
  background-color: transparent;
  font-size: 2rem;
  color: var(--purple);
  border: none;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
}
.traders-hub-slider-btn.pre-btn {
  left: -40px;
}
.traders-hub-slider-btn.next-btn {
  right: -40px;
}
.traders-hub-list-slider-layer {
  margin: 0 5px;
}
.watchlist-chart-text-area {
  padding: 3rem 3rem;
  background-color: black;
}
.watchlist-chart-title {
  font-size: 2.6rem;
  font-family: var(--outfit-font);
  font-weight: 500;
  line-height: 1.4;
}
.watchlist-read-more {
  font-size: 1.6rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  color: black;
  background-color: white;
  padding: 0.5rem 2.5rem;
  text-transform: capitalize;
}
.watchlist-chart-box {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.economics-chart-text-area {
  background-color: black;
  padding: 3rem 2rem;
}
.economics-chart-title {
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 500;
  line-height: 1.3;
}
.economics-chart-text-area .sm-para {
  font-size: 1.4rem;
  font-family: var(--outfit-font);
  font-weight: 400;
}
.economics-chart-slider-layer {
  margin: 0 10px;
}
.economics-chart-img {
  height: 240px;
  object-fit: cover;
}
.economics-chart-slider-btn {
  font-size: 2rem;
  color: var(--purple);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}
.economics-chart-slider-btn.pre-btn {
  left: -30px;
}
.economics-chart-slider-btn.next-btn {
  right: -30px;
}
.earnings-tabel tr th {
  font-size: 1.4rem;
  font-family: var(--outfit-font);
  color: var(--purple);
  font-weight: 500;
  text-align: center;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}
.earnings-tabel tr td {
  padding: 1rem 1.5rem;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5rem;
  font-family: var(--outfit-font);
  color: var(--purple);
  font-weight: 500;
}

/* trading news screen */
.trading-new-main-img {
  height: 600px;
  object-fit: cover;
}
.trading-features-img {
  height: 160px;
  object-fit: cover;
}
.trading-new-para {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.trading-new-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* flex-alpha-live-trading-room-screen */
.flex-alpha-live-trading-room-section {
  background-image: url(../images/fllex-alpha-live-bg.webp);
}

/* newsletter section */

.inner-newsletter-section {
  background-image: url(../images/newletter-bg.webp);
}
.newsletter-link {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.newsletter-signup-section {
  background-image: url(../images/about-us-bg-img.webp);
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
}
.newsletter-form-area {
  background-color: white;
  padding: 3rem 2rem;
  box-shadow: 0 0 20px 0px #0000003b;
  border-radius: 1rem;
}
.news-input-field {
  background-color: var(--purple);
  color: white;
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
}
.news-input-field::placeholder {
  /* color: white;
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 500; */
  text-transform: capitalize;
}


/* alpha-reports-screen start  */

.alpha-reports-section {
  /* background-image: url(../images/alpha-reports-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
  position: relative;
}
.alpha-reports-bnner-img {
  height: 895px;
  width: 100%;
}
.alpha-report-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.alpha-report-img {
  height: 400px;
  object-fit: cover;
}

/* our-blog-screen  */

/* .our-blog-section {
  background-image: url(../images/our-blog-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */
.our-blog-para-area {
  position: absolute;
  right: 10vw;
  bottom: 60px;
  max-width: 500px;
}

/* about us screen */

.about-us-sb-title {
  font-size: 5rem;
}

/* contact us section */
textarea.news-input-field {
  height: 150px;
  resize: none;
}

/* blog detail screen  */

.blog-detail-img {
  height: 600px;
  width: 100%;
  border-radius: 3rem;
  object-fit: cover;
}

/* the alerts screen start */
.the-alert-section {
  background-color: #f0f5fa;
}
.js-example-basic-multiple-limit {
  width: 100%;
  max-width: 250px;
  padding: 1rem 1rem;
  
}
.select2-container--default .select2-selection--single {
  font-size: 1.6rem;
  color: black;
  font-family: var(--outfit-font);
  font-weight: 400;
  border: 1px solid black;
}
.select2-container .select2-selection--single .select2-selection__rendered , .select2-results__option , .select2-search--dropdown .select2-search__field {
  font-size: 1.6rem;
  color: black;
  font-family: var(--outfit-font);
  font-weight: 400;
}
.select2-container--default .select2-selection--single {
  border-radius: 4px;
  height: 40px;
  padding: 6px 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.alert-box-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.alert-course-box {
  border: 1px solid #00000033;
  border-radius: 10px;
  overflow: hidden;
}
.alert-box-text-area {
  padding: 2rem 2rem;
}
.alert-box-rating-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
} 
.alert-box-rating-area .fa-star , .alert-box-rating-area .fa-star-half-stroke {
  color: #ed9700;
  font-size: 1.6rem;
}
.rating-no {
  font-size: 1.7rem;
  font-family: var(--outfit-font);
  color: black;
  font-weight: 600;
}
.rating-qty {
  font-size: 1.5rem;
  font-family: var(--outfit-font);
  color: black;
  opacity: 0.7;
  font-weight: 400;
}
.alert-course-title {
  font-size: 2rem;
  font-family: var(--outfit-font);
  color: var(--purple);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.alert-course-title a {
  color: var(--purple);
}
.alert-user-icon {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
}
.cirlce-user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 500;
  text-transform: uppercase;
  background-color: #3e64de;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px 0 #0000006e;
}
.sb-para {
  font-size: 1.6rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  color: black;
}
.alert-box-text-bttm {
  border-top: 1px solid #00000033;
  padding: 2rem 2rem;
}
.enroll-course-link {
  text-align: center;
  padding: 10px 10px;
  text-align: center;
  display: block;
  font-family: var(--outfit-font);
  font-weight: 500;
  border: 1px solid #3e64de;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 400;
}
.bookmark-btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #ffffff61;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}




/* login dignup screen start */


.login-section {
  height: 100vh;
  overflow-y: auto;
  background-color: #f1f2f2;
}
.authincation-content {
  background: var(--purple);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  border-radius: 1rem;
}
.auth-form {
  padding: 5rem 5rem;
}
.login-signup-title {
  font-size: 2rem;
  font-family: var(--outfit-font);
  font-weight: 600;
  color: white;
  text-transform: capitalize;
}
.login-label {
  font-size: 1.8rem;
  font-family: var(--outfit-font);
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
  display: block;
}
.form-field {
  background: #fff;
  border: none;
  padding: 1rem 1rem;
  color: var(--purple);
  font-weight: 500;
  font-family: var(--outfit-font);
  border-radius: 0.5rem;
  opacity: 1;
  width: 100%;
  font-size: 1.6rem;
  outline: none;
}
.form-field::placeholder {
  color: var(--purple);
  font-weight: 500;
  font-family: var(--outfit-font);
  font-size: 1.6rem;
}
.pass-eye-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1.4rem;
}
.custom-control-label {
  font-size: 1.6rem;
  font-family: var(--outfit-font);
  font-weight: 400;
  color: white;
}
.remember-checkbox {
  height: 20px;
  width: 20px;
  accent-color: black;
}
.login-submit-btn {
  background: rgb(206, 198, 90);
  background: linear-gradient(
    90deg,
    rgba(206, 198, 90, 1) 50%,
    rgba(147, 131, 43, 1) 100%
  );
  font-size: 1.8rem;
  font-family: var(--outfit-font);
  font-weight: 600;
  color: var(--purple);
  padding: 1.5rem 5rem;
  border: none;
  border-radius: 1rem;  
}

.login-signup-logo {
  max-width: 250px;
  margin-bottom: 10px;
  width: 100%;
}